# Python
*.pyc
*.pyo
__pycache__

# Django
*.log
*.pot
*.pyc
*.pyo
*.sqlite3

# Banco de dados
*.db
*.db-journal

# Ambiente virtual
venv/
env/
.venv/
.env

# Arquivos de configuração do IDE
.vscode/
.idea/

# Arquivos de log do Django
*.log

# Arquivos de compilação do Python
*.pyc
*.pyo

# Dependências
Pipfile.lock
